---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro + Tailwind">
  <main>
    <section class="container h-screen flex items-center justify-center">
      <div>
        <h1 class="text-center font-extrabold text-5xl">
          Astro + Tailwind CSS
        </h1>
        <p class="text-lg font-medium text-neutral-600 text-center">
          chof64/boilerplate-astro-tailwind
        </p>
      </div>
    </section>
  </main>
</Layout>
