---
// This is to receive the title from the page.
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <!-- Add the child component -->
    <slot />
  </body>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src=`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.GA_TRACKING_ID}`
    type="text/partytown"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", import.meta.env.GA_TRACKING_ID);
  </script>
</html>
